@inject IBasketService basketService

<div class="col s12 m4">
    <div class="card medium sticky-action">
        <div class="card-image">
            <img class="activator" src="@(string.IsNullOrEmpty(ProductModel.MainImage.ImageUrl) ? "/images/image-coming-soon-dark.png" : ProductModel.MainImage.ImageUrl)">
        </div>
        <div class="card-content">
            <span class="card-title activator truncate">@ProductModel.Name</span>
            @* TODO Fix this to be a configuration of the system rather than hardcoded value *@
            <p>@ProductModel.Price.ToString("0.00") DKK</p>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">@ProductModel.Name<i class="material-icons right">close</i></span>
            <p>
                @ProductModel.Description
            </p>
        </div>
        <div class="card-action center-align">
            <a class="activator waves-effect waves-light"><i class="material-icons left">info</i>Details</a>
            <a @onclick="@(async () => await basketService.AddProduct(ProductModel.Id))" class="waves-effect waves-light"><i class="material-icons left">add_shopping_cart</i>Add to Cart</a>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public ProductModel ProductModel { get; set; }
}
