@page "/basket"
@inject IBasketService basketService

<div class="row">
    <div class="col m9">
        <CustomerForm />
    </div>
    <div class="col m3">
        <ul class="collection">
            @foreach (var orderLine in basketService.Items)
            {
                <li class="collection-item avatar">
                    <img class="circle" src="@(string.IsNullOrEmpty(orderLine.Product.ImageUrl) ? "/images/image-coming-soon-dark.png" : orderLine.Product.ImageUrl)" />
                    <span class="title">@orderLine.Product.Title</span>
                    <p>
                        Amount: @orderLine.Amount <br />
                        @orderLine.LineTotal.ToString("0.00") DKK <br />
                        <button class="waves-effect waves-light btn-flat" @onclick="@(async () => await basketService.AddProduct(orderLine.Product.Id))"><i class="material-icons">add</i></button>
                        <button class="waves-effect waves-light btn-flat" @onclick="@(async () => await basketService.RemoveProduct(orderLine.Product.Id))"><i class="material-icons">remove</i></button>
                    </p>
                    <a class="secondary-content" @onclick="@(async () => await basketService.RemoveProduct(orderLine.Product.Id))"><i class="material-icons">delete</i></a>
                </li>
            }
        </ul>
    </div>
</div>

@code {

}
